{% extends 'index.html' %}
{% block title %}Form{% endblock %}
{% block content %}
{% enblock %}
<h1>Form</h1>
<div class='container-fluid'>
    <div class="row">
        <div class="col-md-6"style="margin: 0 auto;">
            <form>
                <div class="form-group">
                
                </div>
                <div class="form-group">
                    <label for="text">text</label>
                    <input type="text"  id="tex" name="text" class="form-control">
                </div>                
                <div class="form-group">

                </div>
            </form>

    </div>
    

    </div>
</div>

{% endblock %}